# Please add IDE-related ignores to your own gitignore-global

# C++ build -- in-source builds are not supported
build/
build-*/
cmake-*/
!.github/actions/build/
CMakeUserPresets.json

# Python
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# generated kernel specs
/share/jupyter/kernels/xpython/kernel.json
/share/jupyter/kernels/xpython-raw/kernel.json
